*{
    padding:0;
    margin:0;
}

body{
    background-color:#082745;
    color:#c0c0c0
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: larger;
    padding:10px;
    color:whitesmoke
}

a:hover{
    text-decoration: line-through red;
    font-size: xx-large;
    background-color: rgba(0, 255, 255, 0.062);
}

nav a:active{
    text-decoration: line-through navy;
    color:white;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top:0;
}
header{
    height: 100vh;
    background-image: url('https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2019/07/sb-blog-programming.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    
}


.middle{
    position :absolute;
    top:50%;
    left:50%;
    font-size: xx-large;
    text-align: end;
}

h1#blur{
    align-content: flex-start;
    text-align: start;
    color:rgba(0, 255, 255, 0.062);

}

/* skill page */

#skill{
    background-color: teal;
    height:100vh;
}

.projects{
    width:45%;
    Display:flex;
    flex-direction: row;
}

.image>img{
    width:80%;
}

 div#about{
     height:100vh;
     
 }

 #me{
     width:80%;
     padding:10px 50px;
     text-align:center;
     font-size: larger;
 }
.grid2{
    display:flex;
    flex-direction: row;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 60px;
}

.space{
    
    margin:0 auto;
    padding:10px;
    padding-top:40px;
}

.grid2 h2{
    padding:7px;
    border-bottom:3px solid #c0c0c0;
    width:400px;
    text-decoration: underline;

}
ol li{
    list-style-type: none;
}

span{
    font-weight: 600;
}