*{
    padding:0;
    margin:0;
}

body{
    background-color:#030D19;
    color:#c0c0c0
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: larger;
    padding:10px;
    color:whitesmoke
}

a:hover{
    text-decoration: line-through cyan ;
    font-size: larger;
    background-color: rgba(0, 255, 255, 0.062);
}

nav a:active{
    text-decoration: line-through navy;
    color:white;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    bottom:92%;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: rgba(51, 51, 51, 0.356);
}
header{
    height: 100vh;
    background-image: url('https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2019/07/sb-blog-programming.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    
}


.middle{
    position :absolute;
    top:50%;
    left:50%;
    font-size: xx-large;
    text-align: end;
}

h1#blur{
    align-content: flex-start;
    text-align: start;
    color:rgba(0, 255, 255, 0.062);

}

/* skill page */



.projects{
    Display:flex;
    flex-direction: row;
}

.heading{
    text-align: center;
    text-transform: uppercase;
    color:#2077A2;
    text-shadow: 2px 2px #333;
    text-decoration: underline;
    font-size: xx-large;
}
.projects .one{
    width:540px;
    height:550px;
     box-shadow:2px 2px 2px 2px #c0c0c0; 
    margin:10px auto;
}

.one:hover{
    width:580px;
    height:590px;
    box-shadow:2px 2px 5px 5px #c0c0c0b4; 
}

ul li{
    list-style: none;
}

.image>img{
    width:97%;
    margin:10px;
    margin:10 auto;
}

.projects .description{
    margin:10px;
    text-align: center;
}

button{
    background-color: royalblue;
    border:1px solid black;
    border-radius: 4px;
    padding:10px;
}

button:hover{
    background-color: sandybrown;
    text-decoration: none;
    font-size: small;
    margin-top:10px;
    
}
/* About me section styling */

 div#about{
     height:100vh;
     
 }

 #me{
     width:80%;
     padding:10px 50px;
     text-align:center;
     font-size: larger;
 }
.grid2{
    display:flex;
    flex-direction: row;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 60px;
}

.space{
    
    margin:0 auto;
    padding:10px;
    padding-top:40px;
}

.grid2 h2{
    padding:7px;
    border-bottom:3px solid #c0c0c0;
    width:400px;
    text-decoration: underline;

}
ol li{
    list-style-type: none;
}

span{
    font-weight: 600;
}

#contact{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    padding:10px;
    text-align: center;
    background-color: oldlace;
    color:rgba(0, 0, 0, 0.63);
    font-size: large;
    
}

#contact div{
    border-right:1px solid #333;
}

#contact div a{
    color:navy;
    font-size:large;

}

